{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href = "{% static 'css/homepagestyle.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating Site</title>

</head>

<body>
    

    <button class="center-button1" type="button" onclick="alert('Button clicked!')">Click Me</button>
    <button class="center-button2" type="button" onclick="alert('Button clicked!')">Click Me</button>
</body>
</html>